
.section1 {
    height: 100vh;
    background-color: #544d4d;
    border: 7px solid black;
}

.head-text {
    height: 10%;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.head-text h1 {
    height: 40%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 3%;
    bottom: 0;
    font-size: 4rem;
    color:  #ffffff;
}

.head-text p {
    position: absolute;
    bottom: 0;
    right: 3%;
    font-size: 1.5rem;
    color: #8c8282
}

.flex-images {
    display: flex;
    margin-top: 2rem;
    height: 30vh;
    border: 2px black solid;
}
hero {
    display: flex;
}

.flex-container {
    display: flex;
}

h1 {
    font-size: 200px;
    line-height: 170px;
    font-weight: 600;
    color: #ffffff;
}

hero p {
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    line-height: 18px;
}

hero button {
    background: #25AB75;
    color: #ffffff;
    border-radius: 20%;
    font-size: 10px;
    line-height: 18px;
    font-weight: 600;
}